---
- name: Install nvm
  shell: >
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh | PROFILE=/dev/null bash
  args:
    creates: '{{ user_home }}/.nvm/nvm.sh'

- name: Set up nvm init
  copy:
    src: nvm/nvm.bashrc
    dest: '{{ user_home }}/.bashrc.d/99-nvm.bashrc'

- name: Add default packages
  copy:
    src: nvm/default-packages
    dest: '{{ user_home }}/.nvm/default-packages'
    backup: yes

- name: Install node {{ node_version }}
  shell: >
    . {{ user_home }}/.nvm/nvm.sh && nvm install '{{ node_version }}'
  args:
    executable: /bin/bash

- name: Set node {{ node_version }} as default
  shell: >
    . {{ user_home }}/.nvm/nvm.sh && nvm alias default '{{ node_version }}'
  args:
    executable: /bin/bash
